ul {
  list-style: none;
  padding-left: 1rem;
  /* list-style-position: inside; */
}

.container{
  max-width: 25rem;
  margin: 0 auto;
  color: white;
  background-color: rgb(40 40 40);
  border-radius: 1rem;
  padding: .5rem;
}

.marker {
  color: white;
  align-self: flex-start;
  margin-right: .5rem;
}

details[open] > summary > span > div.marker {
  transform: rotateZ(.25turn);
}